.title{
    text-align: center;
    color: var(--border);
}
.todo {
    width: 700px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    border:1px solid var(--border);
    border-radius:9px;
    
}

.button{
    padding: 10px 18px;
    font-size: 20px;
    margin-top: 20px;
    border-radius:9px;


}

.button:active{
    transform:translateY(-8px)
}
.input{
    display: block;
    width: 100%;
    padding: 12px 16px;
    border:none;
    outline-color: var(--primary);
    border-radius:9px;
}
.card{
    margin-top: 20px;
}
.cardItem{
    width: 100%;
    padding: 20px;
    color:var(--white)  ; 
    margin-top:10px;
    border:1px solid var(--border);
    border-radius:10px;
    text-align: center;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.delBtn button{
    padding:5px 10px;
    font-size: 17px;
    text-transform: uppercase;
    background-color:var(--red) ;
    color: var(--white);
    font-weight: bold;
    border:none;
    cursor: pointer;
}